<div id="menu">
  <%= link_to _("ScieloIndex"), :controller => "citation_index", :action => "index" %>
  <%= link_to _("Loaded Data"), :controller => "scielo_admin", :action => "loaded_data" %>
  <%= link_to _("ScieloIndex Management"), :controller => "scielo_admin", :action => "scielo_management" %>
</div>