        <div id="logoScielo"></div>
        <div id="headerBar"></div>
        <div class="topMenu">
           <ul>
             <li><a href="#">Principal</a></li>
             <li><a href="#">Informaci&oacute;n</a></li>
             <li><a href="#">B&uacute;squedas</a></li>
             <li><a href="#">Contacto</a></li>
             <li><a href="#">Ubicaci&oacute;n</a></li>
           </ul>
        </div>
        <div id="lineBar"></div>