<div id="menu">
  <%= link_to _("Index"), :controller => "citation_index", :action => "index" %>
  <%= link_to _("Advanced search"), :controller => "citation_index", :action => "index" %>
  <%= link_to _("Most cited"), :controller => "citation_index", :action => "index" %>
</div>