<%= error_messages_for 'record' %>

<!--[form:author_institution]-->
<p><label for="author_institution_author_id">Author</label><br/>
<%= select_authors("record") %></p>
<p><label for="author_institution_institution_id">Institution</label><br/>
<%= simple_select("record",Institution) %></p>
<!--[eoform:author_institution]-->

