<%= error_messages_for 'author_institution' %>

<!--[form:author_institution]-->
<p><label for="author_institution_created_on">Created on</label><br/>
<%= datetime_select 'author_institution', 'created_on'  %></p>

<p><label for="author_institution_updated_on">Updated on</label><br/>
<%= datetime_select 'author_institution', 'updated_on'  %></p>
<!--[eoform:author_institution]-->

