<h1>Editing author_institution</h1>

<% form_tag :action => 'update', :id => @author_institution do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @author_institution %> |
<%= link_to 'Back', :action => 'list' %>
