<h1>New author_institution</h1>

<% form_tag :action => 'create' do %>
 <div id="containerForm">
 <%= render :partial => 'form' %>
 </div> 
  <%= submit_tag "Create", :class => "inputButton"%>
<% end %>
<div id="buttonsNavigator">
<%= link_to 'Back', {:action => 'list'}, :class => 'cssbutton' %>
</div> 