<% for column in AuthorInstitution.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @author_institution.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @author_institution %> |
<%= link_to 'Back', :action => 'list' %>
