<div id="formatTitle">
 Show Details
</div>
<div id="formatShow">
<div id="contentShow">
<% for column in Institution.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @record.send(column.name) %>
</p>
<% end %>
</div>
</div>
<div id="buttonsNavigator">
<%= link_to 'Edit', {:action => 'edit', :id => @record}, :class => 'cssbutton' %> |
<%= link_to 'Back', {:action => 'list'}, :class => 'cssbutton' %>
</div>