<h3 class="centered"><%= _("Welcome to the management and monitoring application for ScieloIndex") %></h3>
<br/>
<p class="centered"><%= _("Please, select any of the options listed in the menu") %></p>