<h4 class="centered"><%= _("ScieloIndex Management") %></h4>

<p><%= @completition_msg %></p>

<div class="link-container">
   1. <%= link_to _("Re-Migrate ScieloIndex data"), :controller => "scielo_admin", :action => "db_reinitialize" %><br/>
</div>
