<h4 class="centered"><%= _("ScieloIndex Management") %></h4>

<br/>
<div class="link-container">
    <%= button_to_remote _("Migrate"), :url=> {:controller => "scielo_admin", :action => "db_reinitialize"}, :before => "Element.show('loading')", :success => "Element.hide('loading')" %><br/>
</div>

<div id="loading" style="display:none" class="migration">
    <%= image_tag ('spinner.gif') %>
    <p class="padded"><%= _("Migration in process...") %></p>
</div>

<div id="statistics" class="migration"></div>
