<%= error_messages_for 'record' %>

<!--[form:country]-->

<p><label for="country_code">Id</label><br/>
<%= text_field 'record', 'id', 'size' => 3, 'maxsize' => 3  %></p>

<p><label for="country_name">Name</label><br/>
<%= text_field 'record', 'name', 'size' => 40, 'maxsize' => 80 %></p>

<p><label for="country_code">Code</label><br/>
<%= text_field 'record', 'code', 'size' => 3, 'maxsize' => 3 %></p>
<!--[eoform:country]-->
