<h1>Editing country</h1>

<% form_tag :action => 'update', :id => @record do %>
  <div id="containerForm">
  <%= render :partial => 'form' %>
  </div>
  <%= submit_tag 'Edit' %>
<% end %>

<div id="buttonsNavigator">
<%= link_to 'Show', {:action => 'show', :id => @record}, :class => 'cssbutton'  %> |
<%= link_to 'Back', {:action => 'list'}, :class => 'cssbutton' %>
</div>