<h1>Editing country</h1>

<% form_tag :action => 'update', :id => @country do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @country %> |
<%= link_to 'Back', :action => 'list' %>
