[submodule "ScieloIndex/vendor/plugins/auto_complete"]
	path = ScieloIndex/vendor/plugins/auto_complete
	url = git://github.com/rails/auto_complete.git
[submodule "ScieloIndex/vendor/plugins/rfpdf"]
	path = ScieloIndex/vendor/plugins/rfpdf
	url = git://github.com/edwinmoss/rfpdf.git
[submodule "ScieloIndex/vendor/plugins/localization"]
	path = ScieloIndex/vendor/plugins/localization
	url = git://github.com/rails/localization.git
[submodule "ScieloIndex/vendor/plugins/will_paginate"]
	path = ScieloIndex/vendor/plugins/will_paginate
	url = git://github.com/mislav/will_paginate.git
