<%= error_messages_for 'article_subject' %>

<!--[form:article_subject]-->
<p><label for="article_subject_created_on">Created on</label><br/>
<%= datetime_select 'article_subject', 'created_on'  %></p>

<p><label for="article_subject_updated_on">Updated on</label><br/>
<%= datetime_select 'article_subject', 'updated_on'  %></p>
<!--[eoform:article_subject]-->

