<%= error_messages_for 'record' %>

<!--[form:article_subject]-->
<p><label for="article_keyword_article_id">Article</label><br/>
<%= select_by_attribute("record", Article, 'title')  %></p>

<p><label for="article_keyword_subject_id">Subject</label><br/>
<%= select_by_attribute("record", Subject, 'name') %></p>
<!--[eoform:article_subject]-->

