<%= error_messages_for 'alternate_title' %>

<!--[form:alternate_title]-->
<p><label for="alternate_title_title">Title</label><br/>
<%= text_area 'alternate_title', 'title'  %></p>
<!--[eoform:alternate_title]-->

