<h1>Editing alternate_title</h1>

<% form_tag :action => 'update', :id => @alternate_title do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @alternate_title %> |
<%= link_to 'Back', :action => 'list' %>
