<h1>New alternate_title</h1>

<% form_tag :action => 'create' do %>
  <div id="containerForm">
  <%= render :partial => 'form' %>
  </div>
  <%= submit_tag "Create" %>
<% end %>

<div id="buttonsNavigator">
<%= link_to 'Back', :action => 'list' %>
</div>
