
  <%= article.to_table_rows %>

  <tr>
    <td id="links">
      <%= link_to _('Cited by %d', article.citations), {:action => 'list_articles_cites', :id => article}, {:class => "art_link"} %>
      <%= pdf_download_link(article) %>
      <%= html_view_link(article) %>
    </td>
  </tr>