<table class="listing">
  <%= render :partial => 'article', :collection => @collection %>
</table>

<br />

<div class="pages">
  <%= render :partial =>'paginator', :object => @pages %>
  <hr/>
  <div id="buttonsNavigator">
    <%= link_to _('New Search'), {:action => 'index'}, :class => 'cssbutton' %>
  </div>
</div>

