<br/>

<table class="listing">
  <%= render :partial => 'article', :collection => @collection %>
</table>

<br />

<div class="pages">
  <%= render :partial =>'paginator', :object => @pages %>
</div>

