<div class="maincentered">
<p><%= _('Scielo Index is a citation search engine for documents and articles ' + 
        ' from the virtual library %s, which contains the most important journals of the country',
        link_to("SciELO México", "http://www.scielo.org.mx"))%></p><br/>

<p><%= _('With SciELO Index the user will find citations of documents by author name, title, keywords,' +
        ' and any combination of those. The system can also generate PDF reports of the found citations.') %></p><br/>

<p><%= _('SciELO Index is being developed and mantained by the Dirección General de Bibliotecas of the Universidad Nacional' +
         ' Autónoma de México (UNAM), with the sponsorship from the Macroproyecto Tecnologías para la Universidad de la' +
         ' Información y la Computación.') %></p><br/>
         </div>
        <div class="centered">© DGB – UNAM 2008</div>