<h3><%=_ "Searched for %s.",
            session[:search].select {|k,v| v.size > 0 }.map { |pair| " #{pair[0]}: #{pair[1]}"}.join(_(" and"))%>
</h3>
<h4><%=_ "Results %d to %d of %d", 
            @collection.offset + 1,
            @collection.offset + @collection.length,
            @collection.total_entries  %>
</h4>

<%= render :partial => 'list', :object => @pages %>