
<div class="column span-16 prepend-2 last results">
  <h1>Autores resultantes de la búsqueda</h1>
  <table class="results">
    <%= render :partial => 'author', :collection => @collection %>
  </table>
</div>
<br/>
<div class="pages">
  <%= render :partial =>'paginator', :object => @pages %>
  <hr/>
  <div id="buttonsNavigator">
    <%= link_to 'Nueva Búsqueda', {:action => 'index'}, :class => 'cssbutton' %>
  </div>
</div>
