<h1> Artículos de <%= @author.as_human %> <%= link_to ' descargar PDF', {:format => 'pdf'}, :class => 'pdf' %></h1>
<!-- <p>Total de citaciones: <%= @cites %></p> -->

<%= render :partial => 'list', :object => @pages %>
