<h1><%=_ 'Most cited authors' %></h1>


  <table class="results">
    <%= render :partial => 'author', :collection => @collection %>
  </table>
<br/>
<div class="pages">
  <%= render :partial =>'paginator', :object => @pages %>
  <hr/>
  <div id="buttonsNavigator">
    <%= link_to 'Nueva Búsqueda', {:action => 'index'}, :class => 'cssbutton' %>
  </div>
</div>
