<%= error_messages_for 'record' %>

<!--[form:associated_file]-->
<p><label for="associated_file_name">Name</label><br/>
<%= text_field 'record', 'name', 'size' => 30 %></p>

<p><label for="associated_file_pdfdata">Cargar archivo PDF</label><br/>
<%= file_field "record", "pdfdata" %></p>

<p><label for="associated_file_htmldata">Cargar archivo HTML</label><br/>
<%= file_field "record", "htmldata" %></p>
<!--[eoform:associated_file]-->
