<%= error_messages_for 'article_keyword' %>

<!--[form:article_keyword]-->
<p><label for="article_keyword_created_on">Created on</label><br/>
<%= datetime_select 'article_keyword', 'created_on'  %></p>

<p><label for="article_keyword_updated_on">Updated on</label><br/>
<%= datetime_select 'article_keyword', 'updated_on'  %></p>
<!--[eoform:article_keyword]-->

