<%= error_messages_for 'record' %>

<!--[form:article_keyword]-->
<p><label for="article_keyword_article_id">Article</label><br/>
<%= select_by_attribute("record", Article, 'title')  %></p>

<p><label for="article_keyword_keyword_id">Keyword</label><br/>
<%= select_by_attribute("record", Keyword, 'name') %></p>
<!--[eoform:article_keyword]-->

