<%= error_messages_for 'record' %>

<!--[form:cite]-->
<p><label for="cite_article_id">Article</label><br/>
<%= select_by_attribute("record", Article, 'title') %></p>

<p><label for="cite_cited_by_article_id">Cited by Article</label><br/>
<%= select_by_attribute("record", Article, 'title', 'cited_by_article_id') %></p>

<p><label for="cite_cite_order">Cite order</label><br/>
<%= text_field 'record', 'cite_order'  %></p>
<!--[eoform:cite]-->