<%= error_messages_for 'record' %>

<!--[form:publisher]-->
<p><label for="publisher_name">Name</label><br/>
<%= text_field 'record', 'name', 'size' => 30, 'maxsize' => 100 %></p>

<p><label for="publisher_descr">Description</label><br/>
<%= text_area 'record', 'descr', 'cols' => 40, 'rows' => 5, 'maxsize' => 500 %></p>

<p><label for="publisher_url">Url</label><br/>
<%= text_field 'record', 'url', 'size' => 30, 'maxsize' => 100 %></p>

<!--[eoform:publisher]-->

