<%= error_messages_for 'record' %>

<p><label for="article_author_article_id">Article</label><br/>
<%= select_by_attribute("record", Article, 'title') %></p>

<p><label for="article_author_author_id">Author</label><br/>
<%= select_authors("record") %></p>

<p><label for="article_author_author_order">Author Order</label><br/>
<%= text_field 'record', 'author_order' %></p>
<!--[eoform:article_author]-->

