<h1>Editing article_author</h1>

<% form_tag :action => 'update', :id => @article_author do %>
<div id="containerForm">
  <%= render :partial => 'form' %>
</div>
  <%= submit_tag 'Edit' %>
<% end %>

<div id="buttonsNavigator">
<%= link_to 'Show', {:action => 'show', :id => @article_author}, :class => 'cssbutton' %> |
<%= link_to 'Back', {:action => 'list'}, :class => 'cssbutton' %>
</div>