<% for column in ArticleAuthor.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @article_author.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @article_author %> |
<%= link_to 'Back', :action => 'list' %>
