<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Countries: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold', 'style-scielo-mexico'%>
</head>
<body>
<div id="container">
    <div id="header">
        <div id="logoScielo"></div>
	<div id="headerBar"></div>
	<div class="topMenu">
	   <ul>
             <li><a href="#">Principal</a></li>
             <li><a href="#">Informaci&oacute;n</a></li>
             <li><a href="#">B&uacute;squedas</a></li>
             <li><a href="#">Contacto</a></li>
             <li><a href="#">Ubicaci&oacute;n</a></li>
           </ul>
	</div>
	<div id="lineBar"></div>
    </div>
    <div id="main">
	<p style="color: green"><%= flash[:notice] %></p>
	<%= yield  %>
    </div>
    <div id="footer"></div>
</div>
</body>
</html>