<%= error_messages_for 'record' %>

<!--[form:subject]-->
<p><label for="subject_parent_id">Parent Subject</label><br/>
<%= simple_select("record",Subject,'parent_id') %></p>

<p><label for="subject_name">Name</label><br/>
<%= text_field 'record', 'name', 'size' => 40  %></p>
<!--[eoform:subject]-->

