<%= error_messages_for 'record' %>

<!--[form:language]-->
<p><label for="language_name">Name</label><br/>
<%= text_area 'record', 'name'  %></p>

<p><label for="language_code">Code</label><br/>
<%= text_field 'record', 'code'  %></p>
<!--[eoform:language]-->

