# SERIAL_ROOT es la ruta absoluta hacia el directorio
# raiz que contiene las revistas de scielo
SERIAL_ROOT: /usr/local/www/index.scielo.unam.mx/serial

# COUNTRY es el nombre del Pais que por default se asocia a una revista
COUNTRY: México

# LOGGER es el nivel de monitoreo (debug, warning, info, none)
LOGGER: none