<p>
<%= link_to_remote "Article and Author", :url => {:action => 'show_form_advanced', :form_advanced => 'article:author'} %>
<%= link_to_remote "Keyword and Author", :url => {:action => 'show_form_advanced', :form_advanced => 'keyword:author'} %>
<%= link_to_remote "Article and Keyword", :url => {:action => 'show_form_advanced', :form_advanced => 'article:keyword'} %>
</p>


<div id='advanced_search_div'>
	
</div>

</div>
