  <tr>
    <td>
      <%= article.as_vancouver %>
    </td>
  </tr>
  <tr>
    <td id="links">
      <%= link_to "Citaciones: #{article.cites_number}", {:action => 'search_cites', :id => article} %>
      <%= pdf_download_link(article) %>
      <%= html_view_link(article) %>
    </td>
  </tr>
