<table class="listing">
  <%= render :partial => 'article', :collection => @collection %>
</table>
<br />
<div class="pages">
  <%= render :partial =>'paginator', :object => @þages %>
  <hr/>
  <div id="buttonsNavigator">
    <%= link_to 'Nueva búsqueda', {:action => 'index'}, :class => 'cssbutton' %>
  </div>
</div>

