<table>
  <tr>
    <th>Articles</th>
  </tr>

<%= render :partial => 'article', :collection => @collection %>
</table>
<br />
<%= render :partial =>'paginator' %>
<hr/>
<%= link_to 'New Search', :action => 'index' %>
