<div class='rounded_div'>
	<% form_remote_tag :url => {:action => 'configure_search_form'} do %>
		<p> 
			Author: <%= check_box_tag 'author' %>
			Article: <%= check_box_tag 'article' %>
			Keyword: <%= check_box_tag 'keyword' %>
	  </p>
	  
			<%= submit_tag "Prepare Search Form" %>
		
		
	<% end %> 
</div>
