<div id="mainCite_Index">
  <h3>Search: </h3>
   <div class='rounded_div'>
	<% form_remote_tag :url => {:action => 'configure_search_form'} do %>
		<p> 
			<%= check_box_tag 'author' %> <label for="author">Author</label>
			<%= check_box_tag 'article' %> <label for="article">Article</label>
			<%= check_box_tag 'keyword' %> <label for="keyword">Keyword</label>
	    </p>
	  
			<%= submit_tag "Prepare Search Form" %>
		
		
	<% end %> 
</div><br/>
		
		<div id='construct_form'>	</div>
</div>
