<h1>Listing Cites</h1>

<table>
  <tr>
    <th>Articles</th>
  </tr>

  <% for record in @collection %>
  <tr>
    <td ><%=h record[0] %><br/><hr/></td>
  </tr>
<% end %>
</table

<br />
<hr/>

<%= link_to 'New Search', :action => 'index' %>
