#container {
	margin:0 auto;
	width:900px;
	height:600px;
	background-color:#FFF;
}

#bannerSup {
	margin:0 auto;
	width:900px;
	padding:10px;
	height:100px;
	background-color:#FFF;
	background-position:top center;
}

#bannerInf {
	margin:0 auto;
	width:800px;
	padding:10px;
	height:650px;
	background-color:#FFF;
	background-position:top center;
}

#logoScielo{
	width:174px;
	height:100px;	
	background:url(../images/scielomexico.jpg);
	background-color:#AAA;
	float:left;
}

#headerBar {
	width:726px;
	height:57px;
	background:url(../images/barra-superior.jpg);
	background-color:#000;
	background-position:0% 100%;
	float:right;
}

#texto {
	width:900px;
	height:300px;
	font-family:Verdana;
	font-size:16px;
	text-align:justify;
	background-color: #FFF;
	float:right;
}

#footerBar {
	width:900px;
	height:36px;
	background:url(../images/footerBar.jpg) repeat-x;
	background-color:#000;
	background-position:bottom center;
}

table{ 
	width:650px; 
	border:5px solid #bdbab2;
	align:center;
	font-family:Verdana;
	margin: 0 auto;
	border-left: .1em solid #bdbab2;
	border-right: .1em solid #bdbab2;
}

h1 {
	margin: 0 auto;
	padding-bottom:1em;	
	letter-spacing:.1em;
	font-size:16px;
	text-align: center;
}

table th{
	font-size:17px;
	padding:5px;
	background-color: #FFF;
}

table tr:hover {
	background-color: #DDD8DB;
	color: #333
}

table td{
	font-size:14px;
}

a{
	font-family:Verdana;
	font-size:14px;
	color:#3252FE;

}

.navigator{
	width:120px;
	height:35px;
	background: url(../images/next-page-button.jpg); /*no-repeat top left;*/
}

#buttonNew {
	width:120px;
	height:35px;
	background-color:#000;
}

/************************************/
.roundedcornr_box_381787 {
   background: #CCCCCC;
   width:70px;
   height:38px;
   background-position:bottom right;
}
.roundedcornr_top_381787 div {
   background: url(roundedcornr_381787_tl.png) no-repeat top left;
}
.roundedcornr_top_381787 {
   background: url(roundedcornr_381787_tr.png) no-repeat top right;
}
.roundedcornr_bottom_381787 div {
   background: url(roundedcornr_381787_bl.png) no-repeat bottom left;
}
.roundedcornr_bottom_381787 {
   background: url(roundedcornr_381787_br.png) no-repeat bottom right;
}

.roundedcornr_top_381787 div, .roundedcornr_top_381787, 
.roundedcornr_bottom_381787 div, .roundedcornr_bottom_381787 {
   width: 70px;
   height: 10px;
   font-size: 1px;
}
.roundedcornr_content_381787 { margin: 0 10px; }