/* RESET */
* {
  margin:0;
  padding:0;
  font: 100%;
/*  border: 0;
  outline: none;*/
}

html, body{
  height:100%;
}

body {
  font: 100% Helvetica-neue, Helvetica, Verdana sans-serif;
  color: #505050;
}

/*layout styles */

.layout #mainContent {
  /*  sticky footer: */
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative margin = footer's height + footer's vertical padding*/
  margin: 0 auto -134px;
}

.layout #header {
  width: 100%;
  margin-bottom: 20px;
}

.layout #header #bar {
  width: inherit;
  height: 87px;
  background: url(../images/header_bar.png) repeat-x bottom;
}

.layout #push {
  height: 140px;
/*  padding-bottom: 50px;*/} 

.layout #footer {
  width: 100%;
  height: 124px;
  padding-top: 10px;
  background: url(../images/footer.png) repeat-x;
  background-position: bottom;
}

/* end of layout styles */

/* Index styles */

.layout #mainContent.index img{
  clear: left;
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right:auto;
  padding-top: 10%;
  padding-bottom: 20px;
}

.layout #mainContent.index {
  text-align: center;
}

.layout #mainContent.index .box *{
  vertical-align:top;
}

/* end of index styles */

/*Header styles*/
.layout #header img.logo{
  height: 100px;
  float:left;
  padding-top:20px;
  padding-left:30px;
}
.layout #header #form {
  padding-top: 100px;
  padding-left: 400px;
}
.layout #header .box{
  float: left;
  margin-left: 70px;
  margin-top: 75px;
}
.layout #header .box *{
  vertical-align:top;
}

.layout #header #bar  {
  clear: left;
}

.layout #header #bar * {
  padding-top: 55px;
  color: #505050;
  text-decoration: none;
  height: 40px;
}

.layout #header #bar #langs {
  float: right;
  padding-right: 5%;
}

.layout #header #bar #menu {
  float: left;
  clear: left;
  padding-left: 5%;
}

.layout #header #bar * a {
  padding: 0px;
  padding-right: 15px;
}

/* end of header styles*/

/* Content Styles */

.layout #mainContent.index input#searchField, .layout #header input#searchField {
  width: 300px;
}

.layout #mainContent .advanced fieldset {  
/*  margin: 1.5em 0 0 0;  
  padding: 10px*/;
  float: left;
  clear: both;
  width: 100%;
  margin: 0 0 -1em 0;  
  padding: 0 0 2em 0;  
  border-style: none;  
/*  border-top: 1px solid #BFBAB0;*/
}
.layout #mainContent .advanced legend {
  margin-left: -1em;
  color: #000000;
  font-weight: bold;
}

.layout #mainContent .advanced legend span{
  position: absolute;  
  margin-top: 0em;  
  font-size: 110%;
}

.layout #mainContent .advanced p {
  padding-left: 5em;
  padding-bottom: 5px;
}

.layout #mainContent .advanced label {
  text-transform: lowercase;
  float: left;  
  width: 20em;  
  margin-right: 1em;
}

.layout #mainContent .advanced input, 
.layout #mainContent .advanced select {
/*  margin-left: 100px;*/
  width: 350px;
}

.layout #mainContent .advanced input#search_submit{
  max-width: 100px;
  margin-left: 21em;
}

.layout #mainContent .advanced input, 
.layout #mainContent .advanced select {
/*  margin-left: 100px;*/
  width: 350px;
}

.layout #mainContent .advanced .auto_complete {
  border: 1px solid #999;
  background-color: #fff;
  margin-left: 4em;
  font-size: 80%;
}

.layout #mainContent .advanced ul{
  list-style-type: none;
  margin:0px;
  padding:0px;
}

.layout #mainContent .advanced ul li {
  list-style-type: none;
  border-bottom: 1px solid #999;
  display:block;
  vertical-align: middle;
  margin:0;
  padding:0.2em;
/*  height:1.2em;*/
  overflow: hidden;
}

.layout #mainContent .advanced li.selected {
  background-color: #9f0b0b;
  color: #fff;
}

.layout #mainContent .listing td#title{
  font-style: italic;
  font-size: 90%;

}

.layout #mainContent .listing td{
  font-size: 80%;
  border-collapse: separate;
  border-spacing: 20px;
}

.layout #mainContent .listing td#links{
  padding-bottom: 10px;
}

.layout #mainContent #yield {
  padding: 0px 5%;
}

/* end of content styles*/

/* Footer Styles*/

.layout #footer #notes {
  color: #fff;
  float: left;
  text-align:left;
  padding-top: 3em;
  padding-left: 3em;
  max-width: 50%;
}

.layout #footer #notes * {
  color: #fff;
}
.layout #footer #notes #links {
  border-bottom: 3px solid #B88;
  padding-bottom: 5px;
}

.layout #footer #notes #info {
  padding-top: 5px;
}

.layout #footer img.logo {
  display: block;
  float: right;
  padding-top: 27px;
  padding-right: 3em;
}

/* end of footer styles */

/* Content styles */

a , a:visited, a:hover, a:focus{
  color: #9f0b0b;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a img {
  border: none;
}

.centered{
  text-align: center;
  }
  
.maincentered {
  text-align: left;
  position:center;
  display:block;
  margin:auto;
  padding-top:3.5em;
  max-width:70%;
}

h1 {
  font-size: 140%;
  padding-bottom: 2em;
}

table.most_cited {
  padding: 20px 10%;
  width: 100%;
}

img.art_link, a.art_link {
  height: 1.2em;
  display: block;
  float: left;
  padding-right: 0.5em;
}

img.author_pdf {
  height: 1em;
  padding-left: 0.5em;
}

td.authors a{
  color: #70709f;
}


/* end of content styles*/

/* Pagination styles */

.pagination {
  text-align: center;
}
.pagination a, .pagination span {
  padding: .2em .5em;
}
.pagination span.disabled {
  color: #999;
  border: none;
}
.pagination span.current {
  font-weight: bold;
  color: #9f0b0b;
}
.pagination a {
  text-decoration: none;
  color: #505050;
  border: 1px solid #ddd;
}
.pagination a:hover, .pagination a:focus {
  color: #fff;
  border-color: #9f0b0b;
  background: #9f0b0b;
}
.pagination .page_info {
  background: #9f0b0b;
  color: white;
  padding: .4em .6em;
  width: 22em;
  margin-bottom: .3em;
  text-align: center;
}
.pagination .page_info b {
  color: #003;
  background: #9f0b0b;
  padding: .1em .25em;
}
.pagination .prev_page, .pagination .next_page {
  border-width: 2px;
}
.pagination .prev_page {
  margin-right: 1em;
}
.pagination .next_page {
  margin-left: 1em;
}
.pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .pagination {
  height: 1%;
}
*:first-child+html .pagination {
  overflow: hidden;
}

/* end of pagination styles */
