body {
	text-align: justify;
}

table{ 
	width:650px; 
	border:5px solid #bdbab2;
	align:center;
	font-family:Verdana;
	margin: 0 auto;
	margin-bottom: 20px;
	border-left: .1em solid #bdbab2;
	border-right: .1em solid #bdbab2;
}

table th{
	font-size:17px;
	padding:5px;
	background-color: #FFF;
}

table tr:hover {
	background-color: #DDD8DB;
	color: #333
}

table td{
	font-size:14px;
}

h1 {
	margin: 0 auto;
	padding-bottom:30px;	
	letter-spacing:.1em;
	font-size:17px;
	text-align: center;
}

a{
	font-family:Verdana;
	font-size:14px;
	color:#b32732;
	text-align: center;
	text-decoration: none;
}

form {
	padding: 0px 100px 30px 100px;
}

input[type="submit"] {
	background-color: #DFDFDF;
	border: 2px #d1ec4c outset;
	padding: 2px 4px;
	color: black;
	text-decoration: none;	
	font: bold 12px Verdana;
	margin: 0px auto;
}

input[type="submit"]:hover {
	border-style: inset;
        background-color:  #bdbab2;
        color: white;
        padding: 2px 4px; /*shift text 1px to the right and down*/
}

.inputButton{
	text-align: center;
}

input[type="submit"]:active{
	color: black;
}

input[type="submit"]:focus{
	border-style: inset;
	background-color:  #bdbab2;
	color: white;
	padding: 2px 3px 0 5px; /*shift text 1px to the right and down*/
}

#containerForm{
	border-top: 5px solid #bdbab2;
	border-bottom: 5px solid #bdbab2;
	padding: 30px 100px 30px 100px;
}

#container {
  margin: 0 auto;	
  width: 900px;
  height: auto;
}

#header{
   width: 900px;
   height: 100px;
   margin: 0px;
   padding: 0px;
}

#main {
  width: 900px;
  height: auto;
}

#mainCite_Index {
  width: 900px;
  height: 450px;
}
#footer{
  width:900px;
  height:45px;
  margin: 50px 0px;
  background:url(../images/barra3.jpg);
  background-color: #000;
  padding: 0px;
}

#logoScielo{
	width:174px;
	height:100px;	
	background:url(../images/scielomexico.jpg);
	background-color:#AAA;
	float:left;
}

#logoMacroproyecto{
	width:252px;
	height:100px;	
	background:url(../images/macroproyecto-logo.jpg);
	background-color:#AAA;
	/*float:right;*/
	margin: 0 auto;
}

#headerBar {
	width:726px;
	height:45px;
	background:url(../images/barra-superior2.jpg);
	background-color:#000;
	background-position:0% 100%;
	float:right;
}

#lineBar {
	width:726px;
	height:1px;
	background:url(../images/top-line.jpg) repeat-x;
	background-color:#000;
	background-position:0% 100%;
	float:right;
}

#lineBarDown {
       width:900px;
	height:4px;
	background:url(../images/top-line.jpg) repeat-x;
	background-color:#000;
	background-position:0% 100%;
	float:center;
}

.topMenu{
	/*margin-bottom: 1em;*/

}

.topMenu ul{
	padding: 50px 9px 0px 5px;
	margin-top: 1px;
	font: bold 12px Verdana;
	list-style-type: none;
	text-align: left;
	/*border-bottom: 1px solid #b32732;*/
}

.topMenu li{
	display: inline;
	margin: 0;
}

.topMenu li a{
	text-decoration: none;
	padding: 3px 9px 2px 5px;
	margin-bottom: 0px;
	margin-right: 1px; /*distance between each tab*/
	border-left: 1px solid #DDD;
	color: black;
	font-size: 13px;
	background: #ECEEEC url(../images/tabright.gif) top right no-repeat;
}

.topMenu li a:visited{
	color: black;
}

.topMenu li a:hover{
	background-color: #000;
	color: #eceeec;
}

.cssbutton {
	background-color: #DFDFDF;
	border: 2px #d1ec4c outset;
	padding: 2px 4px;
	color: black;
	text-decoration: none;
	font: bold 12px Verdana;
}

.cssbutton:visited{
	color: black;
}

.cssbutton:hover{
	border-style: inset;
	background-color:  #bdbab2;
	color: white;
	padding: 2px 3px 0 5px; /*shift text 1px to the right and down*/
}

.cssbutton:active{
	color: black;
}

#buttonsNavigator{
	padding: 0px 0px 0px 0px;
	margin-bottom: 10px; 
	text-align:center;
}

#formatShow{
	width: 700px;
	border-top: 5px solid #bdbab2;
	border-bottom: 5px solid #bdbab2;
	margin: 0 auto;
	margin-bottom: 30px;
}

#contentShow{
	text-align: justify;
	padding-left:100px;	
}

#formatTitle{
	text-align: center;
	letter-spacing:.1em;
	padding-bottom: 30px;
	font: bold 17px Verdana;
}
