body {
  text-align: justify;
}

table{ 
	width:650px; 
	border:5px solid #bdbab2;
	align:center;
	font-family:Verdana;
	margin: 0 auto;
	margin-bottom: 20px;
	border-left: .1em solid #bdbab2;
	border-right: .1em solid #bdbab2;
}

table th{
	font-size:17px;
	padding:5px;
	background-color: #FFF;
}

table tr:hover {
	background-color: #DDD8DB;
	color: #333
}

table td{
	font-size:14px;
}

h1 {
	margin: 0 auto;
	padding-bottom:1em;	
	letter-spacing:.1em;
	font-size:18px;
	text-align: center;
}

a{
	font-family:Verdana;
	font-size:14px;
	color:#b32732;
	text-align: center;
	text-decoration: none;
}

#container {
  margin: 0px auto;	
  width: 900px;
  height: 600px;
}

#header{
   width: 900px;
   height: 100px;
   margin: 0px;
   padding: 0px;
}

#main {

  height: 450px;
}

#footer{
  width:900px;
  height:36px;
  background:url(../images/footerBar.jpg) repeat-x;
  margin:0 auto;
  background-
}

#logoScielo{
	width:174px;
	height:100px;	
	background:url(../images/scielomexico.jpg);
	background-color:#AAA;
	float:left;
}

#headerBar {
	width:726px;
	height:45px;
	background:url(../images/barra-superior.jpg);
	background-color:#000;
	background-position:0% 100%;
	float:right;
}

#lineBar {
	width:726px;
	height:1px;
	background:url(../images/top-line.jpg) repeat-x;
	background-color:#000;
	background-position:0% 100%;
	float:right;
}

.topMenu{
	/*margin-bottom: 1em;*/

}

.topMenu ul{
	padding: 50px 9px 0px 5px;
	margin-top: 1px;
	font: bold 12px Verdana;
	list-style-type: none;
	text-align: left;
	/*border-bottom: 1px solid #b32732;*/
}

.topMenu li{
	display: inline;
	margin: 0;
}

.topMenu li a{
	text-decoration: none;
	padding: 3px 9px 2px 5px;
	margin-bottom: 0px;
	margin-right: 1px; /*distance between each tab*/
	border-left: 1px solid #DDD;
	color: black;
	font-size: 13px;
	background: #ECEEEC url(../images/tabright.gif) top right no-repeat;
}

.topMenu li a:visited{
	color: black;
}

.topMenu li a:hover{
	background-color: #000;
	color: #eceeec;
}


#navigator a{
	width:120px;
	height:34px;
	background: url(../images/next-page-button.jpg);
	font-size:15px;
	font-weight: bold;
        text-align: center;
	display: block;
	color:#fff;
	margin: 0px auto;
}

.buttonNavigator{
}