<% for column in Journal.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @journal.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @journal %> |
<%= link_to 'Back', :action => 'list' %>
