<h1>Editing journal_issue</h1>

<% form_tag :action => 'update', :id => @journal_issue do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @journal_issue %> |
<%= link_to 'Back', :action => 'list' %>
